.wrapper {
  display: flex;
}

.side-bar {
  &__user-name {
    height: 100px;
    width: 300px;
    background-color: #253141;
    display: flex;
    align-items: center;

    &__top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      background-color: #253141;
      display: flex;
      justify-content: space-between;
      color: #ffffff;
      
      &__name {
        text-align: center;
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;
      }
      
      &__icons {
        display: flex;
      }

      .icon {
        padding-left: 5px;
        color: #ffffff;
        font-size: 14px;
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    color: #ffffff;
    padding: 20px 20px 40px 20px;

    &__link {
      .groups {
        text-decoration: none;
      }

      &__name {
        color: #ffffff;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
        text-decoration: none;
      }
  
      &__message {
        color: #ffffff;
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);

  &__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;

    &__left-contents {
      margin-left: 40px;

      &__name {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 15px;
      }

      &__members {
        color: #999999;
        font-size: 12px;

        ul {
          display: flex;
          padding-bottom: 5px;

          li {
            margin-left: 5px;
          }
        }
      }
    }
      
    &__edit {
      height: 40px;
      width: 72px;
      font-size: 16px;
      color: $btn_blue;
      border: solid 1px $btn_blue;
      margin: 28px 40px 32px 0px;
      text-align: center;
      line-height: 40px;
    }

    .edit {
      text-decoration: none;
      color: $btn_blue;
    }

    .edit:visited {
      color: $btn_blue;
    }
  }

  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    overflow: scroll;

    &__all {
      padding-left: 40px;

      &__title {
        display: flex;
        padding-top: 35px;
        padding-bottom: 12px;
  
        &__name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
  
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 5px;
        }
      }
      &__messages {
        color: #434a54;
        font-size: 14px;
        padding-bottom: 46px;
      }
    }
  }

  .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    .new_message {
      display: flex;
      height: 50px;

      .input-box {
        width: 100%;
        background-color: white;
        position: relative;
        
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 10px;

        }

        &__image {

          .icon {
            position: absolute;
            top: 17px;
            right: 10px;
          }

          .hidden {
            display: none;
          }
        }
      }

      .form-submit {
        height: 50px;
        width: 100px;
        background-color: skyblue;
        color: white;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}
